*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
html,body
{
    height: 100vh;
    overflow: hidden;
}
:root
{
    --left-bg-color: #6e1c20bb;
    --right-bg-color: #2b2b2bbb;
}
.box
{

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #333;
}
.split
{
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}
.split.left
{
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    background: url('one_piece.jpg') center/ cover no-repeat;
}
.split.right
{
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    background: url('demon_slayer.png') center/ cover no-repeat;
}
.split.left::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--left-bg-color);
}

.split.right::before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--right-bg-color);
}
h1
{
    font-size: 3rem;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    white-space:nowrap;
}
.btn
{
    color: #fff;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    border: #fff solid .1rem;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    width: 15rem;
    padding: 1.5rem;
    font-weight: 300;
}
.btn1:hover
{
    background-color: #6E1C20;
    border: none;
    color: #fff;
}
.btn2:hover
{
    background-color: #1c7a1c;
    border: none;
    color: #fff;
}
.split.left,
.split.right,
.split.left::before,
.split.right::after
{
    transition: all .7s ease-in-out;
}


/* Now Add Classes */
.hover-left .left
{
    width: 75%;
}
.hover-left .right
{
    width: 25%;
}


.hover-right .right
{
    width: 75%;
}
.hover-right .left
{
    width: 25%;
}
